@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-select {
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  outline: none;
}

.custom-select option {
  background-color: #ffffff;
  color: #000000;
}
