body {
  background-color: #121212;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

h1 {
  text-align: center;
  color: #00aaff;
  margin-bottom: 1.5rem;
}

.password-display {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  height: 30px;
}

.password-display input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #333;
  background-color: #2c2c2c;
  color: #fff;
  border-radius: 5px;
}

.password-display button {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #00aaff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.password-display button:hover {
  background-color: #0058cc;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.control {
  display: flex;
  flex-direction: column;
}

.control label {
  margin-bottom: 0.5rem;
}

.control input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: #333;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.control input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #0011ff;
  border-radius: 50%;
  cursor: pointer;
}

.control input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #00aaff;
  border-radius: 50%;
  cursor: pointer;
}

.control input[type="checkbox"] {
  margin-right: 0.5rem;
}

.generate-btn {
  width: 100%;
  padding: 0.75rem;
  border: none;
  background-color: #00aaff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.generate-btn:hover {
  background-color: #0088cc;
}

input[type=text]::selection {
  background: #00b7ffaf;
  color: #fff;
}

